<div class="d-flex flex-wrap flex-wrap-reverse">
  <div class="col-sm-8 col-xs-12" *ngIf="(users$ | async) as users">
    <div class="p-3 flex-fill" *ngFor="let user of users">
      <mat-card class="">
        <div class="d-flex flex-wrap">
          <div class="circle">{{ user.username | slice : 0: 1 | uppercase }}</div>
          <h3 class="mt-2 px-3">{{ user.username }}</h3>
        </div>
        <div class="ps-5 ms-3">
          <span class="mt-1 clearfix">{{ user.email }}</span>
        </div>
        <div class="ps-5 ms-3 flex-fill">
          <h5>Books</h5>
          <span class="num">{{ user.books?.length}}</span>
        </div>
        <div class="flex-fill justify-content-center">
          <a class="btn btn-outline-primary px-5" [routerLink]="['/users/profile/', user.id]">View profile</a>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="col-sm-3 col-xs-12">
    <div class="container-fluid flex-fill d-flex justify-content-center">

    </div>
  </div>
</div>