<footer class="bd-footer py-4 py-md-5 mt-5 bg-light">
  <div class="container py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" [routerLink]="['']" aria-label="Bootstrap">

          <span class="fs-5">Library</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Welcome to the online Library web application where you get every service on time</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Home</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="[''] ">Docs</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="[''] ">Examples</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="[''] ">Icons</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="[''] ">Themes</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="[''] ">Blog</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="[''] ">Swag Store</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Guides</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Getting started</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Starter template</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Webpack</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Parcel</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Vite</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Projects</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['/']">Bootstrap 5</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Icons</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">RFS</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">npm starter</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Issues</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Discussions</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Corporate sponsors</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Open Collective</a></li>
          <li class="mb-2"><a class="text-decoration-none text-dark" [routerLink]="['']">Stack Overflow</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>